<header>
	<h1>Tweetful</h1>
	<p>Make the internet a little more thoughtful</p>
</header>

<section>  
  <header>
  	<h2>About Tweetful</h2>
  </header>
  <p>Tweetful is really awesome. Everyone loves Tweetful.</p>
</section>

<section>  
  <header>
  	<h2>What makes us different</h2>
  </header>
  <p>Tweetful is made of candy and puppies.</p>
</section>

<section>  
  <header>
  	<h2>Company history</h2>
  </header>
  <p>We are one year old today.</p>
</section>

<footer>
</footer>